<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title><%= crew.nickname %> 페이지</title>
</head>
<body>
    <%- include('fragments/navbar') %>
    <div class="justify-content-between crewForm devices">
        <div class="card">
            <% if(crew.myPageImg !== null) { %>
                <img class="card-img-top" src="../files/<%= crew.myPageImg %>" alt="Card image cap">
            <% } else { %>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/sts.jpeg" height="400px" class="d-block w-100" alt="space shuttle">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/apollo.jpeg" height="400px" class="d-block w-100" alt="moon">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/stars.jpeg" height="400px" class="d-block w-100" alt="stars">
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="card" style="width: 18rem;">
            <% if(crew.profileImage !== null) { %>
                <img class="card-img-top" src="../files/<%= crew.profileImage %>" alt="Card image cap">
            <% } else { %>
                <svg data-jdenticon-value="<%= crew.nickname %>"></svg>
            <% } %>
            <div class="card-body">
                <h5 class="card-title"><%= crew.nickname %></h5>
                <% if(crew.bio !== null) { %>
                    <p class="card-text"><%= crew.bio %></p>
                <% } else { %>
                    <p class="card-text">Welcome to <%= crew.nickname %>'s Page</p>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('fragments/devices') %>
    <%- include('fragments/footerJs') %>
</body>