<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('fragments/header') %>
  <title>메인 페이지</title>
</head>
<body>
  <%- include('fragments/navbar') %>
  <%- include('fragments/devices') %>
  <%- include('fragments/footer') %>
  <%- include('fragments/footerJs') %>
</body>
</html>