<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title><%= review.title %></title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <div class="jumbotron jumbotron-fluid crewForm">
        <div class="container">
            <% if(review.representImage !== null) { %>
                <img src="../files/<%= review.representImage %>" class="img-fluid" />
            <% } else { %>
                <img src="../static/virtualLake.png" class="img-fluid" />
            <% } %>
            <h1 class="display-4"><%= review.title %></h1>
            <p class="nav justify-content-end">
                <% if(review.updatedAt.getTime() !== review.createdAt.getTime()) { %>
                    <span>Updated At <%= review.updatedAt.toLocaleString() %></span>
                <% } else { %>
                    <span>Created At at <%= review.createdAt.toLocaleString() %></span>
                <% } %>
            </p>
            <p class="nav justify-content-end">
                <span>Written by <%= review.crew.nickname %></span>
            </p>
            <div class="nav justify-content-end">
                <% if(isLoggedIn && crew && crew.crewId === review.writtenBy) { %>
                    <button type="button" class="btn btn-outline-warning">Edit</button>
                <% } else {%>
                <% } %> 
            </div>
            <hr/>
            <p class="lead"><%- review.content %></p>
        </div>
    </div>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
</body>
</html>