<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>글 읽기</title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <div class="jumbotron jumbotron-fluid crewForm">
        <div class="container">
            <% if(review.representImage !== null) { %>
                <img src="../files/<%= review.representImage %>" class="img-fluid" />
            <% } else { %>
                <img src="../static/virtualLake.png" class="img-fluid" />
            <% } %>
            <h1 class="display-4"><%= review.title %></h1>
            <p class="nav justify-content-end">
                <% if(review.updatedAt !== review.createdAt) { %>
                    <span>Updated At <%= review.updatedAt %></span>
                <% } else { %>
                    <span>Created At at <%= review.createdAt %></span>
                <% } %>
            </p>
            <p class="nav justify-content-end">
                <span>Written by <%= review.crew.nickname %></span>
            </p>
            <hr/>
            <p class="lead"><%- review.content %></p>
        </div>
    </div>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
</body>
</html>