<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title><%= review.title %></title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <div class="jumbotron jumbotron-fluid crewForm">
        <div class="container">
            <% if(review.representImage !== null) { %>
                <img src="../files/<%= review.representImage %>" class="img-fluid" />
            <% } else { %>
                <img src="../static/virtualLake.png" class="img-fluid" />
            <% } %>
            <h1 class="display-4"><%= review.title %></h1>
            <p class="nav justify-content-end">
                <% if(review.updatedAt.getTime() !== review.createdAt.getTime()) { %>
                    <span>Updated At <%= review.updatedAt.toLocaleString() %></span>
                <% } else { %>
                    <span>Created At <%= review.createdAt.toLocaleString() %></span>
                <% } %>
            </p>
            <p class="nav justify-content-end">
                <span>Written by <%= review.crew.nickname %></span>
            </p>
            <div class="nav justify-content-end">
                <% if(isLoggedIn && crew && crew.crewId === review.writtenBy) { %>
                    <button type="button" class="btn btn-outline-warning btn-sm" onClick="goUpdateReview()">Edit</button>
                    <form name="form-patch" action="/write/update/<%= review.reviewId %>" method="post">
                        <input type="hidden" name="email" value="<%= crew.email %>">
                        <input type="hidden" name="reviewId" value="<%= review.reviewId %>">
                    </form>
                <% } else { %>
                <% } %> 
            </div>
            <hr/>
            <p class="lead"><%- review.content %></p>
            <div class="form-group">
                <label for="comment">Comment</label>
                <% if(isLoggedIn && crew) { %>
                    <input type="text" name="comment" class="form-control addtxt" id="commentInput" /><br/>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-outline-info btn-sm" onclick="cleanComment()">Cancel</button>
                        <button type="button" class="btn btn-outline-success btn-sm">Comment</button>
                    </div>
                <%} else { %>
                    <input type="text" name="comment" placeholder="로그인 후 댓글 작성이 가능합니다." class="form-control addtxt" readonly/><br/> 
                <% } %>
            </div>

            <div class="container justify-content-center">
                <% for(let i=0; i < comment.length ; i++) { %>
                    <div class="d-flex">
                        <div class="second py-2 px-2"> 
                            <div class="d-flex justify-content-between py-1 pt-2">
                                <div>
                                    <% if( comment.crew.profileImage !== null ) { %>
                                        <img src="../files/<%= comment.crew.profileImage %>" width="30" height="30" class="d-inline-block align-text-top rounded-circle">
                                    <% } else {%>
                                        <svg data-jdenticon-value="<%= comment.crew.nickname %>" width="30" height="30"></svg>
                                    <% } %>
                                    <span class="text2"><%= comment.crew.nickname %></span>
                                </div>
                            </div>
                            <span class="text1"><%= comment.comment %></span>
                            <div>
                                <% if(isLoggedIn && crew && crew.crewId === comment.writtenBy) { %>
                                    <button type="button" class="btn btn-outline-info btn-sm">Update</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                                <% } else { %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
    <script>
        function goUpdateReview() {
            const form = document.forms["form-patch"];
            const email = form.email.value;
            const reviewId = form.reviewId.value;

            axios({
                method: 'get',
                url: `/write/update/<%= review.reviewId %>`,
                data: { email: email }
            }).then((res) => {
                const formInfo = document.forms["form-patch"];
                formInfo.email.value = res.data.email;
                formInfo.reviewId.value = res.data.reviewId;
                formInfo.submit();
            }).catch((err) => {
                alert("글 수정 페이지에 접근할 수 없습니다.");
            });
        }

        function cleanComment(){
            var commentInput = document.getElementById('commentInput');
            commentInput.value = '';
        }
    </script>
</body>
</html>